html,
body {
  padding: 0;
  margin: 0;
  background-color: goldenrod;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.btnBuscar{
  border-radius: 20px;
  background-color: skyblue;
   /*Descomentar para ver animacion:*/
  /* animation: blinker 1s linear infinite; */ 
}


.txtCambio{
  border-radius: 5px;
  background-color: chocolate;
}
/* 

@keyframes blinker {

  18% {
    background-color: greenyellow;
  }
  36% {
    background-color: red;
  }
  52% {
    background-color: chocolate;
  }
  70% {
    background-color: blueviolet;
  }
  78% {
    background-color: skyblue;

  }
  82% {
  background-color: orange;

  }
 
 
} */